.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card {
    transition: all 0.3s;
    z-index: 0;
    
    
}

.piePage {
    color: white;
}

.body   {
    background-color: beige;
}

#carousel {
    z-index: -1;
    position:a sticky;
}

#navbarDropdown{
    z-index: 100;
    position: relative;
}

#menudrop:hover{
    cursor: pointer;
    transform: scale(1.05);
    z-index: 100;
    
}